<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/items/new}" class="btn btn-success">New Book</a>
  <table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  </thead>
    <tbody>
      <tr th:each = "item : ${items}">
        <td th:text = "${item.name}"></td>
        <td th:text = "${item.price}"></td>
        <th>
          <a th:href = "@{/items/delete/{id}(id=${item.id})}" th:onclick="if(!(confirm('Are you sure'))) return false"> Delete </a>
          <a th:href = "@{/items/edit/{id}(id=${item.id})}"> Edit </a>
        </th>
      </tr>
    </tbody>
  </table>
</body>
</html>